# PROYECTO ISO Y PAIS DE MONEDAS DEL MUNDO

<ol>1. Importar:
    <ul>
        <li>requests</li> 
        <li>BeatutifulSoup4</li>
        <li>pandas</li>
    </ul>
</ol>

<hr>

In [55]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

<ol> 2. declaramos **URL** datos mundiales</ol>

In [3]:
url='https://www.datosmundial.com/monedas/'

In [4]:
response=requests.get(url)

<ol>3. Utilizamos BeautifulSoup para trabajar el contenido de la respuesta</ol>

In [7]:
soup=BeautifulSoup(response.text,'html.parser')

<ol>4. Hacemos una busqueda en la etiqueta **table** que tiene asignada la clase ***std100 hover***, esta contiene la información del **ISO**, y el **País** que necesitamos.</ol>

In [8]:
data=soup.find('table',attrs={'class':'std100 hover'}).find_all('td')

<ol>5. extraigo los datos del iso y el país, hago uso de list comprehension, y una funcion que almacena un for.</ol>

In [49]:
cod_iso = [data[i*3].text for i in range(len(data)) if i*3<len(data)]
def pais(data):
    pais=[]
    a=2
    b=3
    c=0
    pais.append(data[2].text)
    for i in range(len(data)):      
        if c<=i-1:
            c = a + b
            a = c
            salida=data[c].text
            pais.append(salida)
    return pais
paises = pais(data)

<ol>6. almaceno en un arreglo ambos resultados</ol>

In [53]:
db = []
for i in range(len(cod_iso)):
    all={}
    all['iso']=cod_iso[i]
    all['pais']=paises[i]
    db.append(all)

<ol>7. Guardo los datos haciendo uso de pandas mediante el metodo *DataFrame*, y luego muestro datos con *read_csv*</ol>

In [61]:
df = pd.DataFrame(db)
df.to_csv('currency.csv',index=False)

df = pd.read_csv('currency.csv', encoding='utf-8')
df

     iso                                               pais
0    AED                             Emiratos Árabes Unidos
1    AFN                                         Afganistán
2    ALL                                            Albania
3    AMD                                            Armenia
4    ANG                              Sint Maarten, Curaçao
..   ...                                                ...
157  XPF  Polinesia Francesa, Nueva Caledonia, Wallis y ...
158  YER                                              Yemen
159  ZAR                                          Sudáfrica
160  ZMW                                             Zambia
161  ZWL                                           Zimbabue

[162 rows x 2 columns]